<launch>

    #Load rosparams
    <rosparam command="load" file="$(find rocket_tracker)/config/config.yaml" />

    #Launch arguments
    <arg name="video" default=""/> #path to the input video
    <arg name="weights" default="$(find rocket_tracker)/weights/yolov5n.engine"/> # path to the weightfile
    <arg name="logtime" default="false"/> # print timings to console
    <arg name="logtrace" default="false"/> # print additional trace to console
    <arg name="perftest" default="false"/> # perform performance test

    <param name="rocket_tracker/time_logging" value="$(arg logtime)" />
    <param name="rocket_tracker/trace_logging" value="$(arg logtrace)" />
    <param name="rocket_tracker/performance_test" value="$(arg perftest)" />
    <param name="rocket_tracker/videopath" value="$(arg video)" />
    
    #Starting image processor node
    <node 
        pkg="rocket_tracker" 
        type="image_processor_node" 
        name="IMAGEPROCESSOR"
        output="screen"
        args="$(arg weights)"/>

    #Starting evaluator node
    <node 
        pkg="rocket_tracker" 
        type="evaluator_node" 
        name="EVALUATOR"
        output="screen"/>
        
</launch>
