<launch>

    #Load rosparams
    <rosparam command="load" file="$(find rocket_tracker)/config/config.yaml" />

    #Launch arguments
    <arg name="weights" default="$(find rocket_tracker)/weights/480px_cpu.torchscript.pt"/>
    <arg name="usecuda" default="true"/>
    
    #Starting framegrabber node
    <node 
        pkg="rocket_tracker" 
        type="frame_grabber_node" 
        name="FRAMEGRABBER"
        output="screen"/>

    #Starting image processor node
    <node 
        pkg="rocket_tracker" 
        type="image_processor_node" 
        name="IMAGEPROCESSOR"
        output="screen"
        args="$(arg weights) $(arg usecuda)"/>

    #Starting evaluator node
    <node 
        pkg="rocket_tracker" 
        type="evaluator_node" 
        name="EVALUATOR"
        output="screen"/>
        
</launch>
